.about-box {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    /* padding: 1rem; */
}

.about-info {
    /* border: 1px solid #fff; */
    height: 400px;
    background-color: rgba(0, 0, 0, .4);
}

.skills-box {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .4);
}

.skills-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-bottom: 2rem;
    /* border: 1px solid #fff; */
}

.skills-header-title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 35px;
    justify-items: center;
}

.skill-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    width: 135px;
    font-size: 75px;
    border-radius: 5px;
}

.js-icon {
    color: #EAD41C;
    text-shadow: 4px 4px 27px rgba(10, 10, 12, 1);
}

.react-icon {
    color: #00CCF1;
    text-shadow: 4px 4px 27px rgba(10, 10, 12, 1);
}

.node-icon {
    color: #21AB58;
    text-shadow: 4px 4px 27px rgba(10, 10, 12, 1);
}

.html-icon {
    color: #D84924;
    text-shadow: 4px 4px 27px rgba(10, 10, 12, 1);
}

.css-icon {
    color: #2449D8;
    text-shadow: 4px 4px 27px rgba(10, 10, 12, 1);
}

.scss-icon {
    color: #C65F93;
    text-shadow: 4px 4px 27px rgba(10, 10, 12, 1);
}

.bootstrap-icon {
    color: #6D11EA;
    text-shadow: 4px 4px 27px rgba(10, 10, 12, 1);
}