.about-box {
    border: 1px solid #000;
    border-radius: 5px;
}

.brief-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 542px;
    padding: 2.5rem;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
}

.brief-info-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 550px;
    margin-right: 1rem;
}

.brief-info-image {
    height: 100%;
    width: 550px;
}

.skills-box {
    width: 100%;
    padding: 1rem;
    background: #000814;
}

.skills-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    margin-bottom: 1rem;
}

.skills-header-title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    justify-items: center;
}

.skill-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 135px;
    width: 135px;
    font-size: 75px;
    border-radius: 5px;
}

.js-icon {
    color: #EAD41C;
}

.react-icon {
    color: #00CCF1;
}

.node-icon {
    color: #21AB58;
}

.html-icon {
    color: #D84924;
}

.css-icon {
    color: #2449D8;
}

.scss-icon {
    color: #C65F93;
}

.bootstrap-icon {
    color: #6D11EA;
}

.git-icon {
    color: #E44C30;
}

.commercial-experience-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 2.5rem;
    min-height: 500px;
    background-color: rgba(0, 0, 0, .4);
}

.comm-exp-position {
    min-height: 300px;
    min-width: 700px;
    border: 1px solid #06d6a0;
    border-radius: 5px;
    background: #000814;
}