.brief-card {
    position: relative;
    height: 750px;
    width: 750px;
}

.brief-card-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.brief-card-text {
    width: 100%;
    margin-bottom: 4rem;
}

.brief-info-welcome-text {
    width: 100%;
    margin-bottom: .5rem;
    text-align: left;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: .7mm;
    color: #06d6a0;
}

.typewriter {
    display: inline-block;
    width: 100%;
}

.typed-out {
    width: 28ch;
    animation: typing 2s steps(22), blink .9s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 36px;
    font-weight: 700;
    color: #e0e1dd;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.contact-link-area {
    width: 100%;
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 250px;
    font-size: 20px;
    border: 1px solid #06d6a0;
    border-radius: 5px;
    background: #06d6a0;
    text-decoration: none;
    color: #00171f;
    -webkit-box-shadow: 8px 12px 35px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 12px 35px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 12px 35px 0px rgba(66, 68, 90, 1);
    transition: 100ms ease-in-out;
}

.contact-link:hover {
    -webkit-box-shadow: 8px 12px 35px 0px rgba(0, 168, 232, 1);
    -moz-box-shadow: 8px 12px 35px 0px rgba(0, 168, 232, 1);
    box-shadow: 8px 12px 35px 0px rgba(0, 168, 232, 1);
    transition: 100ms ease-in-out;
}