.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 75px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

.sidebar-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    backdrop-filter: blur(20px);
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    color: #e0e1dd;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.sidebar-link:hover {
    color: #8d99ae;
    transition: 200ms ease-in-out;
}

.sidebar-link-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
}

.sidebar-link-icon {
    margin-right: 1rem;
}